.ADC-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 50px;
  margin: 0 auto;
  /* padding-top: 20px; */
  text-align: center;
}

.ADC-arrow a {
  font-size: 2rem;
  /* color: rgb(255, 255, 255); */
  color: black;
}

.background-header {
  background-color: #fff!important;
  height: 80px!important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e!important;
}

.background-header .main-nav .nav li:hover a {
  color: #ff685f!important;
}

.background-header .nav li a.active {
  color: #ff685f!important;
}

.header-area {
  background-color: #fafafa;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 100px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
  line-height: 75px;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 30px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
  padding-left: 40px;
}

.header-area .main-nav .nav li:last-child a ,
.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}

.header-area .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
}

.header-area .main-nav .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-nav .nav li:last-child .main-red-button-hover a:hover {
  background-color: #03a4ed !important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #2a2a2a;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #ff685f!important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #ff685f!important;
  opacity: 1;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a!important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #ff685f!important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #ff685f;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area .main-nav .nav li:last-child  ,
  .background-header .main-nav .nav li:last-child {
    display: none;
  }
  .header-area .main-nav .nav li:nth-child(6),
  .background-header .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #ff685f!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 3px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .background-header .nav {
    margin-top: 80px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #ff685f!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}





:root {
  --primary: rgb(64, 169, 64);
  --prim-hover: green;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
span {
  color: green;
}
/* ======SECTION - 1 ============== */
.event-landing {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.hero-details {
  /* border: 2px solid red; */
  min-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-details div {
  margin-top: 1rem;
}
.hero-details .event-logo {
  /* border: 2px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
}
.hero-details .event-logo img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.hero-details .hero-title {
  /* border: 2px solid red; */
  font-size: 5rem;
  min-width: 490px;
}
.hero-details .hero-desc {
  /* border: 2px solid red; */
  width: 500px;
  max-width: 500px;
  line-height: 2rem;
  font-size: 1.2rem;
}

.hero-img {
  /* border: 2px solid red; */
  min-width: 600px;
  height: 600px;
  margin-bottom: 200px;
}
.hero-img img {
  width: 100%;
  height: 100%;
}

/* responsive */
@media screen and (max-width: 1240px) {
  .hero-details {
    /* border: 2px solid red; */
    min-width: 500px;
    height: 100%;
  }
  .hero-details .event-logo img {
    width: 60px;
    height: 60px;
  }
  
  .hero-details .hero-title {
    /* border: 2px solid red; */
    font-size: 4rem;
    min-width: 490px;
  }
  .hero-details .hero-desc {
    /* border: 2px solid red; */
    width: 500px;
    height: 300px;
    max-width: 500px;
    line-height: 1.8rem;
    font-size: 1rem;
  }
  
  .hero-img {
    /* border: 2px solid red; */
    min-width: 400px;
    height: 500px;
  }
  
}
@media screen and (max-width: 1200px) {
  .hero-details .event-logo {
    align-items: center;
    justify-content: center;
  }
  .hero-details .hero-title {
    /* border: 2px solid red; */
    text-align: center;
  }
  .hero-details .hero-desc {
    /* border: 2px solid red; */
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .hero-details {
    /* border: 2px solid red; */
    min-width: 380px;
    height: 100%;
  }
  .hero-details .event-logo {
    height: fit-content;
  }
  .hero-details .event-logo img {
    width: 50px;
    height: 50px;
  }
  
  .hero-details .hero-title {
    /* border: 2px solid red; */
    font-size: 3.5rem;
    padding: 0;
    min-width: 380px;
  }
  .hero-details .hero-desc {
    /* border: 2px solid red; */
    width: 380px;
    height: 300px;
    max-width: 380px;
    line-height: 1.8rem;
    font-size: 1rem;
  }
  
  .hero-img {
    /* border: 2px solid red; */
    min-width: 400px;
    height: 500px;
  }
  
  .hero-img {
    /* border: 2px solid red; */
    min-width: 300px;
    height: 380px;
  }
}
/* ===== SECTION - 2 ============== */
.event-heading {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-heading h2 {
  font-size: 2rem;
  color: green;
  letter-spacing: 0.2rem;
}
.event-heading hr {
  margin-top: 1rem;
  width: 10rem;
  height: 5px;
  background-color: rgb(193, 0, 0);
}

.events-wrapper {
  /* border: 2px solid red; */
  padding: 3rem;
  /* margin-top: -150px; */
}
.events {
  /* border: 2px solid red; */
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.event-card {
  /* border: 2px solid red; */
  padding: 0.8rem;
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.event-card .event-img {
  border: 2px solid var(--primary);
  padding: 0.2rem;
  overflow: hidden;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  cursor: pointer;
}
.event-card .event-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.event-card .event-title {
  text-align: center;
  /* border: 2px solid red; */
  color: var(--primary);
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  cursor: pointer;
}
.event-card .event-title h2 {
  text-transform: uppercase;
}
.event-card:hover .event-title,
.event-card:hover .event-img {
  color: var(--prim-hover);
  transition: all 0.4s ease;
  /* border-color: var(--prim-hover); */
}
.event-card:hover .event-img {
  box-shadow: 0px 0px 10px green;
}

.event-card-cym {
  /* border: 2px solid red; */
  padding: 0.8rem;
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.event-card-cym .event-img {
  border: 2px solid var(--primary);
  padding: 0.2rem;
  overflow: hidden;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  cursor: pointer;
}
.event-card-cym .event-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.event-card-cym .event-title {
  text-align: center;
  /* border: 2px solid red; */
  color: var(--primary);
  width: 200px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  cursor: pointer;
}
.event-card-cym .event-title h2 {
  text-transform: uppercase;
}
.event-card-cym:hover .event-title,
.event-card-cym:hover .event-img {
  color: var(--prim-hover);
  transition: all 0.4s ease;
  /* border-color: var(--prim-hover); */
}
.event-card-cym:hover .event-img {
  box-shadow: 0px 0px 10px green;
}

@media screen and (max-width: 600px) {
  .events-wrapper {
    padding: 1rem;
  }
  .event-heading {
    padding:0;
  }
  .event-heading h2 {
    font-size: 1.5rem;
  }

  .event-card .event-img {
    width: 180px;
    height: 180px;
  }
  .event-card .event-img img {
    width: 170px;
    height: 170px;
  }

  .event-card-cym .event-img {
    width: 180px;
    height: 180px;
  }
  .event-card-cym .event-img img {
    width: 170px;
    height: 170px;
  }
}

/* ====Viewer========== */

.viewer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100;
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.648);
  backdrop-filter: blur(2px);
  display: none;
  z-index: 80;
}
.viewer-wrapper .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  color: #999;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;
}
.viewer-wrapper.open {
  visibility: visible;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  height: 650px;
  background: #fff;
  margin: 10px;
}

.container .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
}

.container .imgBx img {
  width: 100%;
  height: 100%;
}

.container .details {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.container .details h2 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
}

.container .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.details .content .btn-div h3{
  margin: 0;
  /* padding: 0; */
  padding-top: 10px;
  font-size: 1.1em;
  line-height: 1em;
  /* color: #444444; */
  color: black;

}

.container .details .desc {
  max-width: 100%;
  color: #333;
  height: 480px;
  overflow: scroll;
  font-size: -5px;
  margin-bottom: 1rem;
  text-align: justify;
  margin-right: 30px;
  /* border: 2px solid red; */
}
.container .details .desc::-webkit-scrollbar {
  display: none;
}

.container .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}
.container .details .btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .details button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 1rem;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
}

.container .details .cords-detail {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* border: 2px solid red; */
}
.container .details .cords-detail .cord-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.container .details .cords-detail .cord {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
  gap: 1rem;
}
.container .details .cords-detail .cord a {
  /* border: 2px solid red; */
  text-decoration: none;
  color: #333;
}

/* responsive */
@media (max-width: 1080px) {
  .viewer-wrapper {
    height: 100vh;
  }
  .container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  .container .imgBx {
    /* border: 2px solid red; */
    padding: 40px;
    box-sizing: border-box;
    width: 300px !important;
    height: 400px;
    text-align: center;
    overflow: hidden;
  }
  .container .imgBx img {
    left: initial;
    max-width: 100%;
    transform: rotate(0deg);
  }
  .details {
    /* border: 2px solid red; */
    width: 100% !important;
    height: 500px;
    padding: 0px;
  }
  .container .details p {
    margin-left: 0;
    max-width: 100%;
  }
  .viewer-wrapper .btn-close {
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    color: rgb(14, 2, 2);
    border: 2px solid rgb(0, 0, 0);
  }
}
